@media screen and (max-width: 992px){

	/* menu-button */
	.menu-btn{
		display: block;
		color: #fff;
	}
	/* !menu-button */

	/* mobile-menu */
	.header__navigation{
		transform: translateX(100%);
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	    background-color: #0e1a35;
	    position: fixed;
	    left: 0;
	    top: 0;
	    width: 100%;
	    z-index: 2;
	    transition: all 0.4s ease;
	    .menu-btn__close{
	    	display: block;
	    	position: absolute;
	    	top: 2rem;
	    	right: 1.5rem;
			color: #fff;
	    }
		.navbar-list{
			flex-direction: column;
			height: 50%;
    		justify-content: space-between;
			align-items: center;
    		.navbar-item{
    			margin-right: 0;
    		}
		}
	}

	.header__navigation-active{
		transform: translateX(0%);
	}

	/* !mobile-menu */


	/* Section Drag&Drop */
	.drag__text{
		margin-left: 0;
		margin-top: 2.5rem;
		h1{
			text-align: center;
		}
	}

	/* Powerfull-PSD */
		.powerfull-psd__mockup{
			background-position: top;
		    display: flex;
    		align-items: flex-end;

    		.circle-bg, .circle-bg__left, .circle-bg__left, .hr__left, .hr__right{
				display: none;
    		}
		}

		.modern_layout, .easy_cust{
			all: unset;
		}

		.modern-layout__text p, .easy_cust__text p{
			width: 100%;
		}
	/* !powerfull-PSD */
}


@media screen and (max-width: 768px) {

	.powerfull-psd__mockup{
		flex-direction: column;
    	justify-content: flex-end;
	}

	.easy_cust__text{
		h4, p{
			text-align: left !important;
		}
	}

	/* Section services */
	.button-join:after,.button-join:before{
		display: none;
	}

	/* !Section services */

	/* Footer */
	.footer__copy{
		text-align: center;
	}

	.footer__menu, .footer__social{
		justify-content: center;
	}
	/* !Footer */
}


@media screen and (max-width: 376px) {
	.progres-block, .completed-block{
		font-size: 1rem;
	}
}